*
{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.baner1
{
    background-color: #29434E;
    color: white;
    text-align: center;
    height: 70px;
    width: 70%;
    float: left;
}
.img
{
    height: 150px;
    background-position: center;
}
.baner2
{
    background-color: #29434E;
    color: white;
    width: 30%;
    height: 70px;
    float: left;
}
.lista1
{
    background-color: #B0BEC5;
    height: 320px;
    width: 100%;
    overflow: scroll;
}
.stopka
{
    background-color: #29434E;
    color: white;
}
.blok
{
    padding: 5px;
    height: 280px;
    width: 226px;
    float: left;
}
h3
{
    background-color: #546E7A;
    color: white;
    margin: 0px;
}
h4
{
    text-align: center;
    margin: 0px;
}